
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

main{
    height: 80vh;
}

div.carousel-wrapper{
    width: 77%;
    height: 680px;
    margin: auto;
    background-color: aqua;
    position: relative;
}

div.carousel-image{
    width: 100%;
    background-color: blue;
}

div.carousel-thumbnails{
    width: 25%;
    background-color: violet;
}

div.my_carousel-thumbnails-item{
    height: 25%;
}

div.my_carousel-thumbnails-item img{
    width: 100%;
    height: 100%;
}

.font-color-white{
    color:white;
}

div.previous,
div.next{
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-size: 2rem;
}

div.previous{
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

div.previous:hover{
    cursor: pointer;
}

div.next{
    bottom: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

div.next:hover{
    cursor: pointer;
}

div.my_carousel-item {
    display:none;
    height: 100%;
}

div.my_carousel-item.active {
    display:block;
}

div.my_carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

div.my_carousel-item h2,
div.my_carousel-item p {
    position: absolute;
    right: 20px;
    font-weight: bold;
}

div.my_carousel-item h2{
    font-size: 3rem;
    bottom: 250px;
}

div.my_carousel-item p{
    width: 80%;
    font-size: 1.8rem;
    bottom: 100px;
    text-align: end;
}

div.my_carousel-item.image-0{
    color: rgb(177, 212, 212);
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black
}

div.my_carousel-item.image-1{
    color: #ff841f;
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black
}

div.my_carousel-item.image-2{
    color: rgb(68, 79, 200);
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black
}

div.my_carousel-item.image-3{
    color: rgb(203, 152, 100);
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black
}

div.my_carousel-item.image-4{
    color: rgb(233, 186, 0);
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black
}




